<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caltong.server.mapper.CPUMapper">
  <resultMap id="BaseResultMap" type="entity.CPU">
    <!--@mbg.generated-->
    <!--@Table cpu-->
    <id column="inc_id" jdbcType="INTEGER" property="incId" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="current_load" jdbcType="FLOAT" property="currentLoad" />
    <result column="average_load_1" jdbcType="FLOAT" property="averageLoad1" />
    <result column="average_load_5" jdbcType="FLOAT" property="averageLoad5" />
    <result column="average_load_15" jdbcType="FLOAT" property="averageLoad15" />
    <result column="current_temperature" jdbcType="FLOAT" property="currentTemperature" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    inc_id, id, current_load, average_load_1, average_load_5, average_load_15, current_temperature,
    `time`
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from cpu
    where inc_id = #{incId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="inc_id" keyProperty="incId" parameterType="entity.CPU" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cpu (id, current_load, average_load_1, 
      average_load_5, average_load_15, current_temperature, 
      `time`)
    values (#{id,jdbcType=INTEGER}, #{currentLoad,jdbcType=FLOAT}, #{averageLoad1,jdbcType=FLOAT}, 
      #{averageLoad5,jdbcType=FLOAT}, #{averageLoad15,jdbcType=FLOAT}, #{currentTemperature,jdbcType=FLOAT}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-03-05-->
  <select id="findAllById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cpu
    where id=#{id,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-03-05-->
  <select id="selectAllByIdOrderByTimeDesc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cpu
    where id=#{id,jdbcType=INTEGER} order by `time` desc
  </select>
</mapper>